.bottom-buttons {
  margin-top: 20px;
}

.btn-bottom {
  text-align: center;
  width: 50%;
  height: 53px;
  font-size: 16px;
  font-weight: bold;
  line-height: 48px;
  cursor: pointer;
  border: none;
  border-radius: 0;
}

.btn-light {
  background: $light-grey;

  &:hover {
    background: darken($light-grey, 10%);
  }
}

.btn-dark {
  background: $orange;
  color: $black;

  &:hover {
    background: lighten($orange, 5%);
  }
}
