header {
  padding: 0 15px;

  .logo {
    float: left;
    width: 50px;
    height: 50px;
    margin: 5px 0 0;
  }

  .title {
    margin: 0;
    padding: 8px 0 0 60px;
    font-size: 22px;

    .subtitle {
      font-size: 17px;
      display: block;
    }
  }
}

.stripes {
  height: 10px;
  overflow: hidden;
  margin-bottom: 10px;

  .stripe {
    height: 10px;
    width: 33.33%;
    display: inline-block;
  }

  .stripe:nth-child(1) {
    background: $dark-red;
  }

  .stripe:nth-child(2) {
    background: $dark-red;
  }

  .stripe:nth-child(3) {
    background: $dark-red;
  }
}

@media (min-width: 375px) {
  header .title {
    padding-top: 5px;
    .subtitle {
      font-size: inherit;
      display: inline;
    }
  }
}

@media (min-width: 550px) {
  header {
    .title {
      padding: 19px 0 0 69px;
    }
  }
}

@media (min-width: $screen-md-min) {
  header {
    padding: 0;

    .logo {
      width: 90px;
      height: 90px;
    }

    .title {
      padding: 29px 0 0 120px;
      font-size: 36px;
      float: none;
    }
  }

  .stripes {
    margin-bottom: 15px;
  }
}
