.panel {
  margin-left: 15px;
  margin-right: 15px;

  .panel-body {
    padding: 10px 15px;
  }
}

.panel-transparent {
  box-shadow: none;
  background: none;
  margin-bottom: 5px;

  .panel-body {
    padding-top: 0;
    padding-bottom: 0;
  }
}

.panel-light {
  background: $yellow;
  border-color: transparent;
  color: $white;

  h1,
  h2,
  h3,
  h4 {
    color: $white;
  }
}

.panel-dark {
  background: $dark-red;
  border-color: darken($dark-red, 5%);
  color: $white;

  h1,
  h2,
  h3,
  h4 {
    color: $white;
  }
}

.panel-body > h1,
.panel-body > h2,
.panel-body > h3 {
  margin-top :0;
}

.panel dl:last-child {
  margin-bottom: 0;
}

@media (min-width: $screen-md-min) {
  .panel {
    margin-left: 0;
    margin-right: 0;
  }
}
