.section-title {
  h3 {
    font-size: 20px;
    margin-left: 15px;
    margin-right: 15px;
  }
}

.strategy {
  margin-bottom: 5px;

  .strategy-info {
    background: $light-grey;
    margin-bottom: 0;
    font-weight: normal;
    cursor: pointer;
    display: block;
    min-height: 85px;
    padding: 5px 0;

    .strategy-input {
      float: left;
      margin: 31px 10px;
    }

    .strategy-image,
    .strategy-image-selected {
      width: 75px;
      height: 75px;
      float: left;
      margin-right: 10px;
    }

    .strategy-image-selected {
      display: none;
    }

    .strategy-title {
      margin: 5px 10px 4px;
    }

    .strategy-description {
      padding: 0 10px 5px;
      font-size: 13px;
    }
  }

  .strategy-benefits {
    background: $light-grey;
    height: 85px;
    padding: 5px;
    text-align: center;

    .benefit,
    .cost {
      width: 60px;
      margin: 5px 1px;
      height: 65px;
      display: inline-block;
      vertical-align: top;

      .benefit-title,
      .cost-title {
        font-size: 10px;
        text-align: center;
        height: 28px;
        vertical-align: bottom;
      }

      .benefit-bars-container {
        height: 40px;
        position: absolute;

        .benefit-bars {
          position: absolute;
          bottom: 5px;
          width: 60px;

          .bar {
            width: 100%;
            height: 8px;
            background: $yellow;
            margin-bottom: 2px;
          }
        }
      }

      .cost-signs {
        text-align: center;
        font-weight: bold;
        color: $green;
        font-size: 20px;
      }
    }
  }

  &.selected {
    .strategy-info {
      background: $dark-red;
      color: $white;

      .strategy-image {
        display: none;
      }

      .strategy-image-selected {
        display: block;
      }
    }

    .strategy-benefits {
      background: $dark-red;
      color: $white;

      .cost-signs {
        color: $white;
      }
    }
  }
}


@media (min-width: 345px) {
  .strategy {
    .strategy-benefits {
      .benefit,
      .cost {
        margin: 5px 4px;
      }
    }
  }
}

@media (min-width: 375px) {
  .strategy {
    .strategy-benefits {
      .benefit,
      .cost {
        margin: 5px 7px;
      }
    }
  }
}

@media (min-width: $screen-md-min) {
  .section-title {
    h3 {
      margin-left: 0;
      margin-right: 0;
    }
  }

  .strategy {
    background: $light-grey;

    &.selected {
      background: $dark-red;
    }

    .strategy-info {
      .strategy-input {
        margin: 31px 10px 31px 5px;
      }
    }

    .strategy-benefits {

      .benefit,
      .cost {
        margin: 5px 7px;
      }
    }

    .strategy-info {
      .strategy-title {
        margin-left: 107px;
      }

      .strategy-description {
        margin-left: 107px;
      }
    }
  }
}
