.sticky {
  z-index: 1;
}

.dashboard {
  color: $white;
  background: $total-bar;
  overflow: hidden;
  text-align: center;
  z-index: 1;

  .dashboard-titles {
    padding-top: 8px;
    width: 246px;
    display: inline-block;

    .dashboard-title {
      font-weight: bold;
      font-size: 13px;
      margin: 0;

      &.dashboard-title-benefit {
        margin-left: 3px;
        float: left;
      }

      &.dashboard-title-cost {
        float: right;
      }
    }
  }

  .dashboard-meters {
    padding-bottom: 8px;

    .dashboard-container {
      width: 60px;
      margin: 0 1px;
      display: inline-block;
      vertical-align: top;

      .dashboard-meter {
        position: relative;
        background: $white;
        border-radius: 2px;
        width: 60px;
        height: 50px;
        margin: 5px 0;

        &.cost .dashboard-meter-bar {
          background: $green;
        }

        &.over-budget .dashboard-meter-bar {
          background: $red;
        }

        .dashboard-meter-bar {
          background: $value-bars;
          width: 60px;
          height: 0;
          position: absolute;
          bottom: 0;
          -webkit-transition: height 500ms ease;
          -moz-transition: height 500ms ease;
          -ms-transition: height 500ms ease;
          transition: height 500ms ease;
        }

        .dashboard-meter-value {
          color: $black;
          text-align: center;
          padding-top: 17px;
          position: relative;
          font-weight: bold;
        }

        &.half-full .dashboard-meter-value {
          color: $white;
          text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.8);
        }
      }

      .dashboard-meter-title {
        font-size: 10px;
        text-align: center;
      }
    }
  }
}

@media (min-width: 345px) {
  .dashboard {
    .dashboard-titles {
      width: 268px;
    }
    .dashboard-meters {
      .dashboard-container {
        margin: 0 4px;
      }
    }
  }
}

@media (min-width: 375px) {
  .dashboard {
    .dashboard-titles {
      width: 290px;

      .dashboard-title.dashboard-title-benefit {
        margin-left: 8px;
      }
    }

    .dashboard-meters {
      .dashboard-container {
        margin: 0 7px;

        &:first-child {
          margin-left: 0;
        }

        &:last-child {
          margin-right: 0;
        }
      }
    }
  }
}
