footer {
  padding: 10px;
  color: $white;
  background-color: $active-selection;
  margin-top: 25px;

  a {
    color: $white;

    &:hover {
      color: darken($white, 10%);
    }
  }

  .about {
    margin-bottom: 10px;
  }
}

@media (min-width: $screen-md-min) {
  footer {
    padding: 20px;

    .about {
      margin-bottom: 0;
    }

    .copyright {
      text-align: right;
    }
  }
}
